body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cart{
  color:rgb(72, 76, 77);
  width: 50vw;
  height: 100%;
  border:1px solid black;
  display:flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 10px;
}

.products{
  color:rgb(238, 192, 123);
  width: 50vw;
  height: 100%;
  border:1px solid black;
  display:flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  margin: 10px;
}

.main{
  display:flex;
  flex: 1 1 auto;
}

.cart-header{
  display:flex;
  justify-content:space-between;
}

.cart-header .products{
  margin-left: 3px;
}

.cart-header .total{
  margin-right: 3px;
}

.CartItem{

}
.footer td{
  border: 1px solid black;
}
/* 
.footer .footer-child .left{
  margin-left: 1%;
  margin-right: 34%;
  text-align: left;
}

.footer .footer-child .right{
  text-align: right;
} */

.product{

}
